  <h1>New budget</h1>
<%= form_for @budget do |f| %>
  <%= f.label :hotel %>
  <%= f.text_field :hotel %>
  <br>
  <%= f.label :year %>
  <%= f.text_field :year %>
  <br>
  <%= f.label :rooms_available %>
  <%= f.text_field :rooms_available %>
  <br>
  <%= f.label :rooms_sold %>
  <%= f.text_field :rooms_sold %>
  <br>
  <%= f.label :average_room_rate %>
  <%= f.text_field :average_room_rate %>
  <br>
  <%= f.label :room_sales %>
  <%= f.text_field :room_sales %>
  <br>
  <%= f.label :food_sales %>
  <%= f.text_field :food_sales %>
  <br>
  <%= f.label :beverage_sales %>
  <%= f.text_field :beverage_sales %>
  <br>
  <%= f.label :telephone_sales %>
  <%= f.text_field :telephone_sales %>
  <br>
  <%= f.label :other_sales %>
  <%= f.text_field :other_sales %>
  <br>
  <h1>Total Sales = addition of the 5 previous sales</h1>
  

  <h1>Revenue/Room Occupied</h1>
  <%= f.label :room_revenue_per_room_occupied %>
  <%= f.text_field :room_revenue_per_room_occupied%>
  <br>
  <%= f.label :food_revenue_per_room_occupied %>
  <%= f.text_field :food_revenue_per_room_occupied%>
  <br>
  <%= f.label :beverage_revenue_per_room_occupied %>
  <%= f.text_field :beverage_revenue_per_room_occupied%>
  <br>
  <%= f.label :telephone_revenue_per_room_occupied %>
  <%= f.text_field :telephone_revenue_per_room_occupied%>
  <br>
  <%= f.label :other_revenue_per_room_occupied %>
  <%= f.text_field :other_revenue_per_room_occupied%>
  <br>
  <h1>Total Revenue per room occupied = addition of the 5 previous sales</h1>










  <%= f.submit 'Save' %>
  <%= link_to("Cancel", budgets_path) %>
<% end %>


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title></title>
  <meta name="generator" content="LibreOffice 4.2.7.2 (Linux)">
  <meta name="created" content="20141212;0">
  <meta name="changed" content="0;0">
  <style type="text/css">
  <!--
    td p { color: #000000; font-family: "Liberation Sans"; font-size: 10pt }
    p { color: #000000; font-family: "Liberation Sans"; font-size: 10pt }
  -->
  </style>
</head>
<body lang="en-US" text="#000000" dir="ltr" style="background: transparent">
<table cellpadding="2" cellspacing="0" style="page-break-before: always">
  <col width="85">
  <col width="85">
  <col width="85">
  <col width="85">
  <col width="85">
  <col width="85">
  <col width="85">
  <col width="85">
  <col width="85">
  <col width="85">
  <col width="85">
  <col width="85">
  <col width="85">
  <tr>
    <td height="17" style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p align="left"><font face="Liberation Sans, Arial">January</font></p>
    </td>
    <td style="border: none; padding: 0in">
      <p align="left"><font face="Liberation Sans, Arial">February</font></p>
    </td>
    <td style="border: none; padding: 0in">
      <p align="left"><font face="Liberation Sans, Arial">March</font></p>
    </td>
    <td style="border: none; padding: 0in">
      <p align="left"><font face="Liberation Sans, Arial">April</font></p>
    </td>
    <td style="border: none; padding: 0in">
      <p align="left"><font face="Liberation Sans, Arial">May</font></p>
    </td>
    <td style="border: none; padding: 0in">
      <p align="left"><font face="Liberation Sans, Arial">June</font></p>
    </td>
    <td style="border: none; padding: 0in">
      <p align="left"><font face="Liberation Sans, Arial">July</font></p>
    </td>
    <td style="border: none; padding: 0in">
      <p align="left"><font face="Liberation Sans, Arial">August</font></p>
    </td>
    <td style="border: none; padding: 0in">
      <p align="left"><font face="Liberation Sans, Arial">September</font></p>
    </td>
    <td style="border: none; padding: 0in">
      <p align="left"><font face="Liberation Sans, Arial">October</font></p>
    </td>
    <td style="border: none; padding: 0in">
      <p align="left"><font face="Liberation Sans, Arial">December</font></p>
    </td>
    <td style="border: none; padding: 0in">
      <p align="left">TOTAL</p>
    </td>
  </tr>
  <tr>
    <td height="17" style="border: none; padding: 0in">
      <p align="left"><font face="Liberation Sans, Arial">Rooms
      Available</font></p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
  </tr>
  <tr>
    <td height="17" style="border: none; padding: 0in">
      <p align="left"><font face="Liberation Sans, Arial">Rooms Sold</font></p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
  </tr>
  <tr>
    <td height="17" style="border: none; padding: 0in">
      <p align="left"><font face="Liberation Sans, Arial">% Occupancy</font></p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
  </tr>
  <tr>
    <td height="17" style="border: none; padding: 0in">
      <p align="left"><font face="Liberation Sans, Arial">Average Room
      Rate</font></p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
  </tr>
  <tr>
    <td height="17" style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
  </tr>
  <tr>
    <td height="17" style="border: none; padding: 0in">
      <p align="left"><font face="Liberation Sans, Arial">Room Sales</font></p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
  </tr>
  <tr>
    <td height="17" style="border: none; padding: 0in">
      <p align="left"><font face="Liberation Sans, Arial">Food Sales</font></p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
  </tr>
  <tr>
    <td height="17" style="border: none; padding: 0in">
      <p align="left"><font face="Liberation Sans, Arial">Beverage Sales</font></p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
  </tr>
  <tr>
    <td height="17" style="border: none; padding: 0in">
      <p align="left"><font face="Liberation Sans, Arial">Telephone
      Sales</font></p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
  </tr>
  <tr>
    <td height="17" style="border: none; padding: 0in">
      <p align="left"><font face="Liberation Sans, Arial">Other Sales</font></p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
  </tr>
  <tr>
    <td height="17" style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
  </tr>
  <tr>
    <td height="17" style="border: none; padding: 0in">
      <p align="left"><font face="Liberation Sans, Arial">Total Sales</font></p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
  </tr>
  <tr>
    <td height="17" style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
  </tr>
  <tr>
    <td height="17" style="border: none; padding: 0in">
      <p align="left"><font face="Liberation Sans, Arial">Revenue/Room
      Occupied</font></p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
  </tr>
  <tr>
    <td height="17" style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
  </tr>
  <tr>
    <td height="17" style="border: none; padding: 0in">
      <p align="left"><font face="Liberation Sans, Arial">Room</font></p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
  </tr>
  <tr>
    <td height="17" style="border: none; padding: 0in">
      <p align="left"><font face="Liberation Sans, Arial">Food</font></p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
  </tr>
  <tr>
    <td height="17" style="border: none; padding: 0in">
      <p align="left"><font face="Liberation Sans, Arial">Beverage Sales</font></p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
  </tr>
  <tr>
    <td height="17" style="border: none; padding: 0in">
      <p align="left"><font face="Liberation Sans, Arial">Telephone
      Sales</font></p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
  </tr>
  <tr>
    <td height="17" style="border: none; padding: 0in">
      <p align="left"><font face="Liberation Sans, Arial">Other Sales</font></p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
  </tr>
  <tr>
    <td height="17" style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
  </tr>
  <tr>
    <td height="17" style="border: none; padding: 0in">
      <p align="left"><font face="Liberation Sans, Arial">Total
      revenue/room Occupied</font></p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
    <td style="border: none; padding: 0in">
      <p><br>
      </p>
    </td>
  </tr>
</table>
<p><!-- ************************************************************************** --><br><br>
</p>
</body>
</html>