<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>



<div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"><h1><%= @budget.hotel %></h1></div>

      <!-- Table -->
      <table class="table">
       	<thead>
        </thead>
        <tbody>
        	<tr>
        		<td>Year</td>
        		<td><p id="year"><%= @budget.year %></p></td>
        	</tr>
        	<tr>
          		<td>Realised or Budgeted ?</td>
            	<td><% if @budget.realised? %> 
            		<%= "Realised" %>
            		<% else %>
            		<%= "Budgeted" %>
            		<% end %>
            	</td>
        	</tr>
        </tbody>
        
        <thead>
          <th><h3>Rooms</h3></th>
        </thead>
        <tbody>
        	<tr>
            	<td>Room available</td>
            	<td><p id="rooms_available"><%= @budget.rooms_available %></p></td>
        	</tr>
        	<tr>
          		<td>Room Sold</td>
          		<td><p id="rooms_sold"><%= @budget.rooms_sold %></p></td>
        	</tr>
        	<tr>
          		<td>Average Room Rate</td>
          		<td><%= @budget.average_room_rate %></td>
        	</tr>
        	<tr>
          		<td>Occupancy Rate</td>
          		<td><p><%= @budget.occupancy_rate %></p></td>
        	</tr>
        </tbody>
        <thead>
          <th><h3>Sales</h3></th>
        </thead>
        <!-- <tbody> -->
        <tbody>
        	<tr>
            	<td>Room Sales</td>
            	<td><p id="room_sales"><%= @budget.room_sales %></p></td>
            	<td><p id="room_sales_proportion"><%= @budget.room_sales_proportion %></p></td>
        	</tr>
        	<tr>
          		<td>Food sales</td>
          		<td><p id="food_sales"><%= @budget.food_sales %></p></td>
          		<td><p id="food_sales_proportion"><%= @budget.food_sales_proportion %></p></td>
        	</tr>
        	<tr>
          		<td>Beverage Sales</td>
          		<td><p id="beverage_sales"><%= @budget.beverage_sales %></p></td>
          		<td><p id="beverage_sales_proportion"><%= @budget.beverage_sales_proportion %></p></td>
        	</tr>
        	<tr>
          		<td>Telephone Sales</td>
          		<td><p id="telephone_sales"><%= @budget.telephone_sales %></p></td>
          		<td><p id="telephone_sales_proportion"><%= @budget.telephone_sales_proportion %></p></td>
        	</tr>
        	<tr>
          		<td>Other Sales</td>
          		<td><p id="other_sales"><%= @budget.other_sales %></p></td>
          		<td><p id="other_sales_proportion"><%= @budget.other_sales_proportion %></p></td>
        	</tr>
        	<tr>
          		<td>Total Sales</td>
          		<td><%= @budget.total_sales %></td>
          		<td>100 %</td>
        	</tr>
        </tbody>
        <thead>
          <th><h3>Revenue per room occupied</h3></th>
        </thead>
        <!-- <tbody> -->
        <tbody>
        	<tr>
            	<td>Room Revenue Per Room Occupied</td>
            	<td><%= @budget.room_revenue_per_room_occupied %></td>
            	<td><p id="room_revenue_per_room_occupied_proportion"><%= @budget.room_revenue_per_room_occupied_proportion %></p></td>
        	</tr>
        	<tr>
          		<td>Food Revenue Per Room Occupied</td>
          		<td><%= @budget.food_revenue_per_room_occupied %></td>
          		<td><p id="food_revenue_per_room_occupied_proportion"><%= @budget.food_revenue_per_room_occupied_proportion %></p></td>
        	</tr>
        	<tr>
          		<td>Beverage Revenue Per Room Occupied</td>
          		<td><%= @budget.beverage_revenue_per_room_occupied %></td>
          		<td><p id="beverage_revenue_per_room_occupied_proportion"><%= @budget.beverage_revenue_per_room_occupied_proportion %></p></td>
        	</tr>
        	<tr>
          		<td>Telephone Revenue Per Room Occupied</td>
          		<td><%= @budget.telephone_revenue_per_room_occupied %></td>
          		<td><p id="telephone_revenue_per_room_occupied_proportion"><%= @budget.telephone_revenue_per_room_occupied_proportion %></p></td>
        	</tr>
        	<tr>
          		<td>Other Revenue Per Room Occupieed</td>
          		<td><%= @budget.other_revenue_per_room_occupied %></td>
          		<td><p id="other_revenue_per_room_occupied_proportion"><%= @budget.other_revenue_per_room_occupied_proportion %></p></td>
        	</tr>
        	<tr>
          		<td>Total Revenue Per Room Occupied</td>
          		<td><%= @budget.total_revenue_per_room_occupied %></td>
          		<td>100 %</td>
        	</tr>
        </tbody>
        <thead>
          <th><h3>Department Costs</h3></th>
        </thead>
        <!-- <tbody> -->
        <tbody>
        	<tr>
            	<td>Room Costs</td>
            	<td><p id="room_costs"><%= @budget.room_costs %></p></td>
            	<td><p id="room_costs_proportion"><%= @budget.room_costs_proportion %></p></td>
        	</tr>
        	<tr>
          		<td>Food Costs</td>
          		<td><p id="food_costs"><%= @budget.food_costs %></p></td>
          		<td><p id="food_costs_proportion"><%= @budget.food_costs_proportion %></p></td>
        	</tr>
        	<tr>
          		<td>Beverage Costs</td>
          		<td><p id="beverage_costs"><%= @budget.beverage_costs %></p></td>
          		<td><p id="beverage_costs_proportion"><%= @budget.beverage_costs_proportion %></p></td>
        	</tr>
        	<tr>
          		<td>Telephone Costs</td>
          		<td><p id="telephone_costs"><%= @budget.telephone_costs %></p></td>
          		<td><p id="telephone_costs_proportion"><%= @budget.telephone_costs_proportion %></p></td>
        	</tr>
        	<tr>
          		<td>Other Costs</td>
          		<td><p id="other_costs"><%= @budget.other_costs %></p></td>
          		<td><p id="other_costs_proportion"><%= @budget.other_costs_proportion %></p></td>
        	</tr>
        	<tr>
          		<td>Total Department Costs</td>
          		<td><p id="total_department_costs"><%= @budget.total_department_costs %></td>
          		<td><p id="total_department_costs_proportion"><%= @budget.total_department_costs_proportion %></p></td>
        	</tr>
        	<tr>
          		<td>Gross Operating Income</td>
          		<td><p id="gross_operating_income"><%= @budget.gross_operating_income %></td>
          		<td><p id="gross_operating_income_proportion"><%= @budget.gross_operating_income_proportion %></p></td>
        	</tr>
        </tbody>
        <thead>
          <th><h3>General Expenses</h3></th>
        </thead>
        <!-- <tbody> -->
        <tbody>
        	<tr>
            	<td>Administration and General</td>
            	<td><p id="ge_admin_and_general"><%= @budget.ge_admin_and_general %></p></td>
            	<td><p id="ge_admin_and_general_proportion"><%= @budget.ge_admin_and_general_proportion %></p></td>
        	</tr>
        	<tr>
          		<td>Sales and Marketing</td>
          		<td><p id="ge_sales_and_marketing"><%= @budget.ge_sales_and_marketing %></p></td>
          		<td><p id="ge_sales_and_marketing_proportion"><%= @budget.ge_sales_and_marketing_proportion %></p></td>
        	</tr>
        	<tr>
          		<td>Utilities</td>
          		<td><p id="ge_utilities"><%= @budget.ge_utilities %></p></td>
          		<td><p id="ge_utilities_proportion"><%= @budget.ge_utilities_proportion %></p></td>
        	</tr>
        	<tr>
          		<td>Repair and Maintenance</td>
          		<td><p id="ge_repair_and_maintenance"><%= @budget.ge_repair_and_maintenance %></p></td>
          		<td><p id="ge_repair_and_maintenance"><%= @budget.ge_repair_and_maintenance_proportion %></p></td>
        	</tr>
        	<tr>
          		<td>Total General Expenses</td>
          		<td><p id="total_general_expenses"><%= @budget.total_general_expenses %></td>
          		<td><p id="total_general_expenses_proportion"><%= @budget.total_general_expenses_proportion %></p></td>
        	</tr>
        	<tr>
          		<td>Total Costs</td>
          		<td><p id="total_costs"><%= @budget.total_costs %></td>
          		<td><p id="total_costs_proportion"><%= @budget.total_costs_proportion %></p></td>
        	</tr>
        	<tr>
          		<td>Gross Operating Profit</td>
          		<td><p id="gross_operating_profit"><%= @budget.gross_operating_profit %></td>
          		<td><p id="gross_operating_profit_proportion"><%= @budget.gross_operating_profit_proportion %></p></td>
        	</tr>
        </tbody>
      </table>
    </div>

<div id="container1" style="width:100%; height:400px;"></div>

<div id="container2" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

<div id="container3" style="width:100%; height:400px;"></div>



<td><%= link_to 'Edit', edit_budget_path(@budget) %></td>
<td><%= link_to 'Destroy', @budget, method: :delete, data: { confirm: 'Are you sure?' } %></td>


<p><a href="/">Home</a></p>	
