<script src="http://code.highcharts.com/highcharts.js"></script>
<div id="container" style="width:100%; height:400px;"></div>

<h1><%= @budget.hotel %></h1> 
<p id="year"><%= @budget.year %></p> 
<p id="rooms_sold"><%= @budget.rooms_sold %></p> 
<p id="rooms_available"><%= @budget.rooms_available %></p> 
<p id="average_room_rate"><%= @budget.average_room_rate %></p> 
<p id="room_sales"><%= @budget.room_sales %></p> 
<p id="food_sales"><%= @budget.food_sales %></p> 
<p id="beverage_sales"><%= @budget.beverage_sales %></p> 
<p id="telephone_sales"><%= @budget.telephone_sales %></p> 
<p id="other_sales"><%= @budget.other_sales %></p> 
<p id="room_revenue_per_room_occupied"><%= @budget.room_revenue_per_room_occupied %></p> 
<p id="food_revenue_per_room_occupied"><%= @budget.food_revenue_per_room_occupied %></p> 
<p id="beverage_revenue_per_room_occupied"><%= @budget.beverage_revenue_per_room_occupied %></p> 
<p id="telephone_revenue_per_room_occupied"><%= @budget.telephone_revenue_per_room_occupied %></p> 
<p id="other_revenue_per_room_occupied"><%= @budget.other_revenue_per_room_occupied %></p> 



<p><%= @budget.occupancy_rate %></p> 

<div id="container" style="width:100%; height:400px;"></div>


<td><%= link_to 'Edit', edit_budget_path(@budget) %></td>
<td><%= link_to 'Destroy', @budget, method: :delete, data: { confirm: 'Are you sure?' } %></td>


<p><a href="/">Home</a></p>	
